<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.courseAdmin.mapper.ChapterMapper">
    
    <resultMap type="Chapter" id="ChapterResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="courseId"    column="course_id"    />
    </resultMap>

    <sql id="selectChapterVo">
        select id, name, course_id from chapter
    </sql>

    <sql id="aliasAllField">
        c.id, c.name, c.course_id
    </sql>

    <select id="selectChapterList" parameterType="Chapter" resultMap="ChapterResult">
        select  <include refid="aliasAllField"/>,co.name courseName
        from chapter c left join course co on c.course_id = co.id
        <where>  
            <if test="name != null  and name != ''"> and c.name like concat('%', #{name}, '%')</if>
            <if test="courseId != null "> and c.course_id = #{courseId}</if>
        </where>
    </select>
    
    <select id="selectChapterById" parameterType="Long" resultMap="ChapterResult">
        <include refid="selectChapterVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertChapter" parameterType="Chapter" useGeneratedKeys="true" keyProperty="id">
        insert into chapter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="courseId != null">course_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="courseId != null">#{courseId},</if>
         </trim>
    </insert>

    <update id="updateChapter" parameterType="Chapter">
        update chapter
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChapterById" parameterType="Long">
        delete from chapter where id = #{id}
    </delete>

    <delete id="deleteChapterByIds" parameterType="String">
        delete from chapter where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectAll" resultMap="ChapterResult">
        <include refid="selectChapterVo"></include>
    </select>
    
</mapper>